
  <div>
    <mat-toolbar color="primary" class="color"  matBadge="8" matBadgePosition="before" matBadgeColor="accent" >

    <mat-menu  #appMenu="matMenu">Menu
      <button routerLink="crearpublicacion" mat-menu-item>Crear publicacion</button>
      <button routerLink="verpublicacion" mat-menu-item>Ver publicación</button>
      <button routerLink="eliminarpublicacionacion" mat-menu-item>Eliminar y editar publicación</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar>

  </div>
  <br>
  <router-outlet></router-outlet>


