<br>
<br>
<br>
<mat-card class="centrar">
<p>crearpublicacion works!</p>

<div class="example-container">
    <mat-form-field appearance="legacy" class="forma">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field class="forma">
      <mat-label>Tipo de producto</mat-label>
      <select matNativeControl>
          <option value="vo">Tecnologia</option>
          <option value="s">Hogar</option>
          <option value="s">Accesorios</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" class="forma">
      <mat-label>Color</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" class="forma">
      <mat-label>Celular</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>settings_cell</mat-icon>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="forma">
      <mat-label>Tipo de pago</mat-label>
      <select matNativeControl>
          <option value="volvo">Efectivo</option>
          <option value="saab">Tarjeta de credito</option>
          <option value="saab">Corresponsal bancario</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" class="forma">
      <mat-label>Precio del producto</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>settings_cell</mat-icon>
    </mat-form-field>
    <br>
    <div class="forma">
      <input class="ng-hide" id="input-file-id" multiple type="file" />
    </div>
    <br>
    <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">Guardar</button>..
    <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">Cancelar</button>
    <br>

</div>
</mat-card>
<br>
