

  <body class="fondo">
    <mat-toolbar >
     <span class="centrar2">PEOPLE'S MARKET</span>
     <a routerLink="publicacion" class="button">publicaciones</a>




    </mat-toolbar>
    <router-outlet></router-outlet>
    </body>
























