.centrar{
  margin-left: 15%;
  max-width: 70%;
  align-content: center;
}

.centrar2{
  margin-left: 50%;
  max-width: 50%;
  align-content: center;
  color: blue;

}

.fondo{
  background-image: url(https://www.optimizaclick.com/wp-content/uploads/2015/08/post-agosto1.jpg);
  height: 990px;
  background-size:cover, contain;

}

