
<br>
<br>
<br>
<mat-card class="centrar">
<p>eliminarpublicacionacion works!</p>

<div class="example-container">
  <mat-form-field appearance="legacy" class="forma">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>account_circle</mat-icon>
    <input type= "text" formControlName="nombre" matInput placeholder="Ingrese el nombre">
  </mat-form-field>
  <br>
  <br>
  <mat-form-field class="forma" appearance="fill">
    <mat-label>Descripcion</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<button mat-raised-button color="primary"matBadge="8" matBadgePosition="before" matBadgeColor="accent">Enviar</button>..
<button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">Cancelar</button>
<p>
 <br>
</mat-card>
