
<form [formGroup]="UserGroup">
  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="nombre">account_circle</mat-icon> Nombre </mat-label>

    <input type= "text" formControlName="nombre" matInput placeholder="Ingrese su nombre">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="apellido">account_circle</mat-icon> Apellido </mat-label>
    <input type= "text" formControlName="apellido" matInput placeholder="Ingrese su apellido">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="documento">person</mat-icon> Número de documento </mat-label>
    <input type= "number" formControlName="documento" matInput placeholder="Ingrese el número de su identificación">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="sexo">how_to_reg</mat-icon> Sexo </mat-label>
    <input type= "text" formControlName="sexo" matInput placeholder="Ingrese su sexo">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="celular">settings_cell</mat-icon> Número celular </mat-label>
    <input type= "number" formControlName="celular" matInput placeholder="Ingrese su número de celular">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label> <mat-icon aria-hidden="false" aria-label="direccion">library_books</mat-icon>Dirección </mat-label>
    <input type= "text" formControlName="direccion" matInput placeholder="Ingrese su direccion">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="correo">contact_mail</mat-icon> Correo electrónico </mat-label>
    <input type= "email" formControlName="correo" matInput placeholder="Ingrese su correo electrónico">
    <!--span>{{mostrarError('correo')}}</span-->
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="usuario">contacts</mat-icon> Usuario </mat-label>
    <input type="text" formControlName="usuario" matInput placeholder="Ingrese su usuario">
  </mat-form-field>

  <mat-form-field class="caracteristicas">
    <mat-label><mat-icon aria-hidden="false" aria-label="contraseña">vpn_key</mat-icon>Contraseña </mat-label>
    <input type= "password" formControlName="contraseña" matInput placeholder="Ingrese su contraseña">
  </mat-form-field>

<button mat-raised-button (click)="registrar()" color="primary" [disabled]="UserGroup.invalid"><mat-icon aria-hidden="false" aria-label="boton">send</mat-icon>ENVIAR</button>

</form>

